.mobileDiv {
    width: 330px;
    height: 90vh;
    border: 8px solid black;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 15px 5px 18px 4px rgba(1, 1, 1, 0.4);
}

.mobileDiv video {
    /* width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}



.topNotch {
    width: 100%;
    height: 15px;
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;


}



.cemera {
    width: 100px;
    height: 15px;
    background-color: black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 5px;

}

.sensor1 {
    width: 5px;
    height: 5px;
    background: #a0a0a0;
    border-radius: 50%;
}

.sensor2 {
    width: 20px;
    height: 5px;
    background: #a0a0a0;
    border-radius: 10px;
}

.mobileData {
    width: 100%;
    height: 95%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mobileDataInput {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 1px solid black; */

}

.mobileDataInput input {
    width: 80%;
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    font-weight: bold;

    &::placeholder {
        font-weight: bold;
        color: black;
    }

    &:active {
        border-inline: 2px solid black;
        border-radius: 20px;
    }
}

.mobileDataInput button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 50%;
    padding: 2px;
    margin-left: 10px;
    animation:animateDown infinite 2s;
}